*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-white:#FFFFFF;
    --clr-black: #303030;
    --clr-accent: #14CFAE;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    color: var(--clr-black);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

nav {
    display: none;
}


img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px ;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25em;
}

.section__title-intro {
    font-weight: var(--fw-reg);
}
.section__title-intro strong{
    display: block;
}


.section__subtitle-intro,
.section__subtitle-about {
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
    padding: .25em 1em;
    margin-bottom: 1em;
}

.section__subtitle-intro {
    display: inline-block;
    margin-top: 0;
}

.intro__img {
    box-shadow: var(--bs);
}




@media (min-width: 600px) {
    .intro {
        margin: 0 auto;
        width: min-content;
        display: grid;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        gap: 1em;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        z-index: 2;
    }
    .section__subtitle-intro {
        align-self: flex-start;
        font-size: var(--fs-h3);
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2.5em;
        text-align: right;
        width: calc(100% + 2.5em);
    }
}

/* Services */

.my-services {
    background-color: var(--clr-black);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/services-bg.jpg');
    background-position: center;
    background-size: cover;
    color: var(--clr-white);
    text-align: center;
}

.section__title-services {
    color: var(--clr-accent);
    position: relative;
    margin-bottom: 1em;
}

.section__title-services::after {
    content: '';
    width: 3em;
    height: 1px;
    display: block;
    margin: .5em auto 1em;
    bottom: 0;
    background: var(--clr-white);
    opacity: .25;
}

.services {
    margin-bottom: 3em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--clr-accent);
    color: var(--clr-black);
    text-transform: uppercase;
    font-size: .75em;
    font-weight: var(--fw-bold);
    padding: .5em 2.5em;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}